{% extends 'base.html' %}
{% block content %}

<section class="mb-4">

    <h2 class="h1-responsive font-weight-bold text-center my-4">To Do App</h2>
    <p class="text-center w-responsive mx-auto mb-5">Our Project in 2024.</p>

    <div class="row col-md-10 mx-auto">

        <div class="mr-auto">
            <form id="contact-form" name="contact-form" action="/update-to-do/{{project.id}}" method="POST">
                {% csrf_token %}
                <div class="row mt-5">

                    <div class="col-md-3">
                        <div class="md-form mb-0">
                            <label for="date" class="">Date</label>
                            <input type="date" id="date" name="date" class="form-control" value="{{project.date}}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="md-form mb-0">
                            <label for="dev" class="">Developer Name</label>
                            <input type="text" id="dev" name="dev" class="form-control", value="{{project.dev_name}}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="md-form mb-0">
                            <label for="name" class="">Project Name</label>
                            <input type="text" id="name" name="name" class="form-control" value="{{project.pro_name}}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="md-form mb-0">
                            <label for="pro_description" class="">Project Description</label>
                            <input type="text" id="pro_description" name="pro_description" class="form-control" value="{{project.pro_description}}">
                        </div>
                    </div>

                </div>

                <div class="text-center text-md-left mt-5">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>

        </div>

    </div>

</section>

{% endblock %}